/* 设置已打开文件夹图标 */
.nav-folder-children .nav-folder-title-content::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');
	/* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>'); */
	/* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>'); */
	background-size: contain;
	/* background-color:rgb(39, 218, 218); */
  	opacity: 0.8;
	margin-left: -1px;
	margin-right: 5px;
	transform: translate(0, 3px);
  	position: relative;
	display: inline-table;
  	background-position: center center;
	height: 1rem;
	width: 1rem;
	margin-right: 3px;
	/* filter: invert(70%) sepia(10%) saturate(50%) hue-rotate(160deg) brightness(50%) contrast(50%); */
	
}


/* 设置已关闭文件夹图标 */
.nav-folder-children .nav-folder.is-collapsed .nav-folder-title-content::before {
	position: relative;
	content: "";
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;
	transform: translate(0, 3px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(50%) sepia(10%) saturate(50%) hue-rotate(160deg) brightness(50%) contrast(50%);

}

/* 设置md文件图标 */
.nav-folder-children .nav-file-title[data-path$=".md"] .nav-file-title-content:first-child::before {
	content: '';
	/* background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' viewBox='-2.5 0 27 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='file-' class='cls-1' d='M1305,456h-18a2,2,0,0,1-2-2V431a2,2,0,0,1,2-2h12.94a1.039,1.039,0,0,1,.83.289l5.91,5.911a1.017,1.017,0,0,1,.29.8H1307v18A2,2,0,0,1,1305,456Zm-5-24.522V436h4.52Zm5,6.522h-6a1,1,0,0,1-1-1v-6h-11v23h18V438Zm-12,7h6a1,1,0,0,1,0,2h-6A1,1,0,0,1,1293,445Z' transform='translate(-1285 -429)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M13 3L13.7071 2.29289C13.5196 2.10536 13.2652 2 13 2V3ZM19 9H20C20 8.73478 19.8946 8.48043 19.7071 8.29289L19 9ZM13.109 8.45399L14 8V8L13.109 8.45399ZM13.546 8.89101L14 8L13.546 8.89101ZM10 13C10 12.4477 9.55228 12 9 12C8.44772 12 8 12.4477 8 13H10ZM8 16C8 16.5523 8.44772 17 9 17C9.55228 17 10 16.5523 10 16H8ZM8.5 9C7.94772 9 7.5 9.44772 7.5 10C7.5 10.5523 7.94772 11 8.5 11V9ZM9.5 11C10.0523 11 10.5 10.5523 10.5 10C10.5 9.44772 10.0523 9 9.5 9V11ZM8.5 6C7.94772 6 7.5 6.44772 7.5 7C7.5 7.55228 7.94772 8 8.5 8V6ZM9.5 8C10.0523 8 10.5 7.55228 10.5 7C10.5 6.44772 10.0523 6 9.5 6V8ZM17.908 20.782L17.454 19.891L17.454 19.891L17.908 20.782ZM18.782 19.908L19.673 20.362L18.782 19.908ZM5.21799 19.908L4.32698 20.362H4.32698L5.21799 19.908ZM6.09202 20.782L6.54601 19.891L6.54601 19.891L6.09202 20.782ZM6.09202 3.21799L5.63803 2.32698L5.63803 2.32698L6.09202 3.21799ZM5.21799 4.09202L4.32698 3.63803L4.32698 3.63803L5.21799 4.09202ZM12 3V7.4H14V3H12ZM14.6 10H19V8H14.6V10ZM12 7.4C12 7.66353 11.9992 7.92131 12.0169 8.13823C12.0356 8.36682 12.0797 8.63656 12.218 8.90798L14 8C14.0293 8.05751 14.0189 8.08028 14.0103 7.97537C14.0008 7.85878 14 7.69653 14 7.4H12ZM14.6 8C14.3035 8 14.1412 7.99922 14.0246 7.9897C13.9197 7.98113 13.9425 7.9707 14 8L13.092 9.78201C13.3634 9.92031 13.6332 9.96438 13.8618 9.98305C14.0787 10.0008 14.3365 10 14.6 10V8ZM12.218 8.90798C12.4097 9.2843 12.7157 9.59027 13.092 9.78201L14 8V8L12.218 8.90798ZM8 13V16H10V13H8ZM8.5 11H9.5V9H8.5V11ZM8.5 8H9.5V6H8.5V8ZM13 2H8.2V4H13V2ZM4 6.2V17.8H6V6.2H4ZM8.2 22H15.8V20H8.2V22ZM20 17.8V9H18V17.8H20ZM19.7071 8.29289L13.7071 2.29289L12.2929 3.70711L18.2929 9.70711L19.7071 8.29289ZM15.8 22C16.3436 22 16.8114 22.0008 17.195 21.9694C17.5904 21.9371 17.9836 21.8658 18.362 21.673L17.454 19.891C17.4045 19.9162 17.3038 19.9539 17.0322 19.9761C16.7488 19.9992 16.3766 20 15.8 20V22ZM18 17.8C18 18.3766 17.9992 18.7488 17.9761 19.0322C17.9539 19.3038 17.9162 19.4045 17.891 19.454L19.673 20.362C19.8658 19.9836 19.9371 19.5904 19.9694 19.195C20.0008 18.8114 20 18.3436 20 17.8H18ZM18.362 21.673C18.9265 21.3854 19.3854 20.9265 19.673 20.362L17.891 19.454C17.7951 19.6422 17.6422 19.7951 17.454 19.891L18.362 21.673ZM4 17.8C4 18.3436 3.99922 18.8114 4.03057 19.195C4.06287 19.5904 4.13419 19.9836 4.32698 20.362L6.10899 19.454C6.0838 19.4045 6.04612 19.3038 6.02393 19.0322C6.00078 18.7488 6 18.3766 6 17.8H4ZM8.2 20C7.62345 20 7.25117 19.9992 6.96784 19.9761C6.69617 19.9539 6.59545 19.9162 6.54601 19.891L5.63803 21.673C6.01641 21.8658 6.40963 21.9371 6.80497 21.9694C7.18864 22.0008 7.65645 22 8.2 22V20ZM4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673L6.54601 19.891C6.35785 19.7951 6.20487 19.6422 6.10899 19.454L4.32698 20.362ZM8.2 2C7.65645 2 7.18864 1.99922 6.80497 2.03057C6.40963 2.06287 6.01641 2.13419 5.63803 2.32698L6.54601 4.10899C6.59545 4.0838 6.69617 4.04612 6.96784 4.02393C7.25117 4.00078 7.62345 4 8.2 4V2ZM6 6.2C6 5.62345 6.00078 5.25117 6.02393 4.96784C6.04612 4.69617 6.0838 4.59545 6.10899 4.54601L4.32698 3.63803C4.13419 4.01641 4.06287 4.40963 4.03057 4.80497C3.99922 5.18864 4 5.65645 4 6.2H6ZM5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803L6.10899 4.54601C6.20487 4.35785 6.35785 4.20487 6.54601 4.10899L5.63803 2.32698Z' fill='%23007bc7'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-size: 16px 16px;
	transform: translate(0, 3px);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-right: 4px;
	/* filter: invert(50%) sepia(10%) saturate(50%) hue-rotate(160deg) brightness(50%) contrast(50%); */
}


/* 设置PNG图片图标 */
.nav-folder-children .nav-file-title[data-path$=".jpg"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".png"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".svg"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".gif"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".jpeg"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".bmp"] .nav-file-title-content::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%232eb1b7;%7D.cls-2%7Bfill:%2356b54e;%7D.cls-3%7Bfill:%235dc6d1;%7D.cls-4%7Bfill:%2360cc5a;%7D.cls-5%7Bfill:%23ffce69;%7D.cls-6%7Bfill:%236c2e7c;%7D%3C/style%3E%3C/defs%3E%3Cg id='Icons'%3E%3Crect class='cls-1' height='22' rx='4' width='22' x='1' y='1'%3E%3C/rect%3E%3Cpath class='cls-2' d='M23,18v1a4,4,0,0,1-4,4H5a4,4,0,0,1-3.9-3.1l7.19-7.19a1.008,1.008,0,0,1,1.42,0l1.8,1.8a1,1,0,0,0,1.46-.05l2.33-2.65a1,1,0,0,1,1.46-.05Z'%3E%3C/path%3E%3Cpath class='cls-3' d='M23,5v9a4.025,4.025,0,0,1-1.17,2.83l-5.07-5.07a1,1,0,0,0-1.46.05l-2.33,2.65a1,1,0,0,1-1.46.05l-1.8-1.8a1.008,1.008,0,0,0-1.42,0L3.36,17.64A3.988,3.988,0,0,1,1,14V5A4,4,0,0,1,5,1H19A4,4,0,0,1,23,5Z'%3E%3C/path%3E%3Cpath class='cls-4' d='M21.83,16.83A4.025,4.025,0,0,1,19,18H5a3.931,3.931,0,0,1-1.64-.36l4.93-4.93a1.008,1.008,0,0,1,1.42,0l1.8,1.8a1,1,0,0,0,1.46-.05l2.33-2.65a1,1,0,0,1,1.46-.05Z'%3E%3C/path%3E%3Ccircle class='cls-5' cx='7' cy='7' r='2'%3E%3C/circle%3E%3C/g%3E%3Cg data-name='Layer 4' id='Layer_4'%3E%3Cpath class='cls-6' d='M19,0H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V5A5.006,5.006,0,0,0,19,0Zm3,19a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H19a3,3,0,0,1,3,3Z'%3E%3C/path%3E%3Cpath class='cls-6' d='M7,10A3,3,0,1,0,4,7,3,3,0,0,0,7,10ZM7,6A1,1,0,1,1,6,7,1,1,0,0,1,7,6Z'%3E%3C/path%3E%3Cpath class='cls-6' d='M16.707,10.293a.956.956,0,0,0-.74-.293,1.006,1.006,0,0,0-.72.341L12.217,13.8l-2.51-2.511a1,1,0,0,0-1.414,0l-4,4a1,1,0,1,0,1.414,1.414L9,13.414l1.9,1.9L8.247,18.341a1,1,0,0,0,1.506,1.318l3.218-3.678.006,0,.007-.011,3.065-3.5,2.244,2.244a1,1,0,0,0,1.414-1.414Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: 14px 14px; 
	/* transform: translate(0, 2px);
	/* -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M6 22h12a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2zm7-18 5 5h-5V4zm-4.5 7a1.5 1.5 0 1 1-.001 3.001A1.5 1.5 0 0 1 8.5 11zm.5 5 1.597 1.363L13 13l4 6H7l2-3z"></path></svg>'); */
	/* filter: hue-rotate(45deg); */

}

/* 设置PDF图片图标 */
.nav-folder-children .nav-file-title[data-path$=".pdf"] .nav-file-title-content::before,
.nav-folder-children .nav-file-title[data-path$=".PDF"] .nav-file-title-content::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='_x35_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpolygon style='fill:%23B12A27;' points='475.435,117.825 475.435,512 47.791,512 47.791,0.002 357.613,0.002 412.491,54.881 '%3E%3C/polygon%3E%3Crect x='36.565' y='34.295' style='fill:%23F2F2F2;' width='205.097' height='91.768'%3E%3C/rect%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23B12A27;' d='M110.132,64.379c-0.905-2.186-2.111-4.146-3.769-5.804c-1.658-1.658-3.694-3.015-6.031-3.92 c-2.412-0.98-5.126-1.432-8.141-1.432H69.651v58.195h11.383V89.481h11.157c3.015,0,5.729-0.452,8.141-1.432 c2.337-0.905,4.372-2.261,6.031-3.92c1.659-1.658,2.865-3.543,3.769-5.804c0.829-2.186,1.282-4.523,1.282-6.935 C111.413,68.902,110.961,66.565,110.132,64.379z M97.844,77.118c-1.508,1.432-3.618,2.186-6.181,2.186H81.034V63.323h10.629 c2.563,0,4.674,0.754,6.181,2.261c1.432,1.432,2.186,3.392,2.186,5.804C100.031,73.726,99.277,75.686,97.844,77.118z'%3E%3C/path%3E%3Cpath style='fill:%23B12A27;' d='M164.558,75.761c-0.075-2.035-0.151-3.844-0.377-5.503c-0.226-1.659-0.603-3.166-1.131-4.598 c-0.528-1.357-1.206-2.714-2.111-3.92c-2.035-2.94-4.523-5.126-7.312-6.483c-2.865-1.357-6.257-2.035-10.252-2.035h-20.956 v58.195h20.956c3.995,0,7.387-0.678,10.252-2.035c2.789-1.357,5.277-3.543,7.312-6.483c0.905-1.206,1.583-2.563,2.111-3.92 c0.528-1.432,0.905-2.94,1.131-4.598c0.226-1.658,0.301-3.468,0.377-5.503c0.075-1.96,0.075-4.146,0.075-6.558 C164.633,79.908,164.633,77.721,164.558,75.761z M153.175,88.2c0,1.734-0.151,3.091-0.302,4.297 c-0.151,1.131-0.377,2.186-0.678,2.94c-0.301,0.829-0.754,1.583-1.281,2.261c-1.885,2.412-4.749,3.543-8.518,3.543h-8.669V63.323 h8.669c3.769,0,6.634,1.206,8.518,3.618c0.528,0.678,0.98,1.357,1.281,2.186s0.528,1.809,0.678,3.015 c0.151,1.131,0.302,2.563,0.302,4.221c0.075,1.659,0.075,3.694,0.075,5.955C153.251,84.581,153.251,86.541,153.175,88.2z'%3E%3C/path%3E%3Cpath style='fill:%23B12A27;' d='M213.18,63.323V53.222h-38.37v58.195h11.383V87.823h22.992V77.646h-22.992V63.323H213.18z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath style='fill:%23B12A27;' d='M110.132,64.379c-0.905-2.186-2.111-4.146-3.769-5.804c-1.658-1.658-3.694-3.015-6.031-3.92 c-2.412-0.98-5.126-1.432-8.141-1.432H69.651v58.195h11.383V89.481h11.157c3.015,0,5.729-0.452,8.141-1.432 c2.337-0.905,4.372-2.261,6.031-3.92c1.659-1.658,2.865-3.543,3.769-5.804c0.829-2.186,1.282-4.523,1.282-6.935 C111.413,68.902,110.961,66.565,110.132,64.379z M97.844,77.118c-1.508,1.432-3.618,2.186-6.181,2.186H81.034V63.323h10.629 c2.563,0,4.674,0.754,6.181,2.261c1.432,1.432,2.186,3.392,2.186,5.804C100.031,73.726,99.277,75.686,97.844,77.118z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cpolygon style='opacity:0.08;fill:%23040000;' points='475.435,117.825 475.435,512 47.791,512 47.791,419.581 247.705,219.667 259.54,207.832 266.098,201.273 277.029,190.343 289.995,177.377 412.491,54.881 '%3E%3C/polygon%3E%3Cpolygon style='fill:%23771B1B;' points='475.435,117.836 357.599,117.836 357.599,0 '%3E%3C/polygon%3E%3Cg%3E%3Cpath style='fill:%23F2F2F2;' d='M414.376,370.658c-2.488-4.372-5.88-8.518-10.101-12.287c-3.467-3.166-7.538-6.106-12.137-8.82 c-18.544-10.93-45.003-16.207-80.961-16.207h-3.618c-1.96-1.809-3.995-3.618-6.106-5.503 c-13.644-12.287-24.499-25.63-32.942-40.48c16.584-36.561,24.499-69.126,23.519-96.867c-0.151-4.674-0.829-9.046-2.035-13.117 c-1.809-6.558-4.824-12.363-9.046-17.112c-0.075-0.075-0.075-0.075-0.151-0.151c-6.709-7.538-16.056-11.835-25.555-11.835 c-9.574,0-18.393,4.146-24.801,11.76c-6.332,7.538-9.724,17.866-9.875,30.002c-0.226,18.544,1.281,36.108,4.448,52.315 c0.301,1.282,0.528,2.563,0.829,3.844c3.166,14.7,7.84,28.645,13.87,41.611c-7.086,14.398-14.247,26.836-19.223,35.279 c-3.769,6.408-7.915,13.117-12.212,19.826c-19.373,3.468-35.807,7.689-50.129,12.966c-19.373,7.011-34.902,16.056-46.059,26.836 c-7.237,6.935-12.137,14.323-14.549,22.012c-2.563,7.915-2.412,15.83,0.452,22.916c2.638,6.558,7.387,12.061,13.72,15.83 c1.508,0.905,3.091,1.658,4.749,2.337c4.825,1.96,10.101,3.015,15.604,3.015c12.74,0,25.856-5.503,36.937-15.378 c20.655-18.469,41.988-48.169,54.577-66.94c10.327-1.583,21.559-2.94,34.224-4.297c14.926-1.508,28.118-2.412,40.104-2.865 c3.694,3.317,7.237,6.483,10.629,9.498c18.846,16.81,33.168,28.947,46.134,37.465c0,0.075,0.075,0.075,0.151,0.075 c5.126,3.392,10.026,6.181,14.926,8.443c5.503,2.563,11.081,3.92,16.81,3.92c7.237,0,14.021-2.186,19.675-6.181 c5.729-4.146,9.875-10.101,11.76-16.81C420.18,387.694,418.899,378.724,414.376,370.658z M247.705,219.667 c-1.055-9.348-1.508-19.072-1.357-29.324c0.151-9.724,3.694-16.283,8.895-16.283c3.92,0,8.066,3.543,9.95,10.327 c0.528,2.035,0.905,4.372,0.98,7.01c0.151,3.166,0.075,6.483-0.075,9.875c-0.452,9.574-2.111,19.75-4.975,30.681 c-1.734,7.011-3.995,14.323-6.784,21.936C251.173,243.186,248.911,231.803,247.705,219.667z M121.967,418.073 c-1.282-3.166,0.151-9.272,7.991-16.81c11.986-11.458,30.756-20.504,56.914-27.364c-4.975,6.784-9.875,12.966-14.624,18.619 c-7.237,8.744-14.172,16.132-20.429,21.71c-5.352,4.824-11.232,7.84-16.81,8.594c-0.98,0.151-1.96,0.226-2.94,0.226 C127.168,423.049,123.173,421.089,121.967,418.073z M242.428,337.942l0.528-0.829l-0.829,0.151 c0.151-0.377,0.377-0.754,0.603-1.055c3.166-5.352,7.161-12.212,11.458-20.127l0.377,0.829l0.98-2.035 c3.166,4.523,6.634,8.971,10.252,13.267c1.734,2.035,3.543,3.995,5.352,5.955l-1.206,0.075l1.055,0.98 c-3.091,0.226-6.332,0.528-9.574,0.829c-2.035,0.226-4.146,0.377-6.257,0.603C250.796,337.037,246.499,337.49,242.428,337.942z M369.297,384.98c-8.971-5.729-18.996-13.795-31.359-24.575c17.564,1.809,31.359,5.654,41.159,11.383 c4.297,2.488,7.538,5.051,9.724,7.538c3.618,3.844,4.9,7.312,4.221,9.649c-0.603,2.337-3.241,3.92-6.483,3.92 c-1.885,0-3.844-0.452-5.88-1.432c-3.468-1.658-7.086-3.694-10.93-6.181C369.598,385.282,369.448,385.131,369.297,384.98z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: 14px 14px; 
	/* transform: translate(0, 2px);
	/* -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M6 22h12a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2zm7-18 5 5h-5V4zm-4.5 7a1.5 1.5 0 1 1-.001 3.001A1.5 1.5 0 0 1 8.5 11zm.5 5 1.597 1.363L13 13l4 6H7l2-3z"></path></svg>'); */
	/* filter: hue-rotate(45deg); */

}


.nav-folder-children .nav-file-title-content:first-child::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' viewBox='-2.5 0 27 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='file-' class='cls-1' d='M1305,456h-18a2,2,0,0,1-2-2V431a2,2,0,0,1,2-2h12.94a1.039,1.039,0,0,1,.83.289l5.91,5.911a1.017,1.017,0,0,1,.29.8H1307v18A2,2,0,0,1,1305,456Zm-5-24.522V436h4.52Zm5,6.522h-6a1,1,0,0,1-1-1v-6h-11v23h18V438Zm-12,7h6a1,1,0,0,1,0,2h-6A1,1,0,0,1,1293,445Z' transform='translate(-1285 -429)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-size: 14px 14px;
	transform: translate(0, 2px);
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 4px;
	/* filter: invert(50%) sepia(10%) saturate(50%) hue-rotate(160deg) brightness(50%) contrast(50%); */
}




/* 小三角*/
/* .tree-item-self .tree-item-icon {
	display: none;
  } */

/* 设置默认文件夹粗体 */

/* .nav-folder.mod-root > .nav-folder-title {
	font-weight: 800;
  } */

.nav-folder.is-collapsed, .nav-file-title-content content {
	font-weight: 600;
	opacity: 0.55;
  }



/* 下面分别为亮色与暗色模式下的文件夹颜色 */

  /*亮色模式*/
.theme-light {
/* 设置已打开文件夹图标 */
.nav-folder-children .nav-folder-title-content::before {
	filter: invert(0%);
}

/* 设置已关闭文件夹的图标 */
.nav-folder-children .nav-folder.is-collapsed .nav-folder-title-content::before {
	filter: invert(0%);
}

/* 设置 文件图标 */
.nav-folder-children .nav-file-title[data-path$=".md"] .nav-file-title-content:first-child::before {
	filter: invert(0%);
	
}

}
/* 引用高亮颜色

.is-flashing {
	background-color: #FFFF00;
  }

} */


/*暗色模式*/
.theme-dark {
/* 设置已打开文件夹图标 */
.nav-folder-children .nav-folder-title-content::before {
	filter: invert(100%)
}

/* 设置已关闭文件夹的图标 */
.nav-folder-children .nav-folder.is-collapsed .nav-folder-title-content::before {
	filter: invert(100%) 
}

/* 设置文件图标颜色 */
.nav-folder-children .nav-file-title[data-path$=".md"] .nav-file-title-content:first-child::before {
	filter: invert(10%) }
	
}


/* 目录文件夹边框设置 */

.theme-light {
.tree-item.nav-folder.mod-root>.tree-item-children.nav-folder-children > .tree-item.nav-folder {
	border: 1.5px solid #36393d;
	margin: 5px 4px;
	border-left: 3px solid var(--color-accent);
	border-radius: 8px;
  }

  .tree-item-self {
	margin-bottom: var(--size-2-1);
	padding: var(--nav-item-padding);
	position: relative;
  }
  

}
.theme-dark {

	.tree-item.nav-folder.mod-root>.tree-item-children.nav-folder-children > .tree-item.nav-folder {
		border: 1.5px solid #adadad;
		margin: 5px 4px;
		border-left: 3px solid var(--color-accent);
		border-radius: 8px;
	  }


  }

