
/*图例居中*/
.image-captions-figure { 
	margin-left: auto; 
	margin-right: auto; 
  }

  /*图例背景颜色设置*/
.theme-dark .image-captions-figure,
.theme-dark .image-captions-caption {
    background: #000000;
}

.theme-light .image-captions-figure,
.theme-light .image-captions-caption {
    background: #d7dadd;
    font-size: var(--font-small);
    
}


.theme-dark .image-captions-figure,
.theme-dark .image-captions-caption {
    font-size: var(--font-small);
    
}