
/*亮色模式*/

.theme-light {

::selection {
  color: #7a00fd !important;
  background: #E5E0F7 !important;
}

}



/*暗色模式*/

.theme-dark {

  ::selection {
    color: #E5E0F7 !important;
    background: #7a00fd !important;
  }
  
  }